apiVersion: networking.k8s.io/v1
kind: Ingress
metadata:
  name: chess-game
  labels:
    app.kubernetes.io/name: chess-game
    app.kubernetes.io/instance: "{{ .Release.Name }}"
spec:
  ingressClassName: "{{ .Values.ingress.className }}"
  rules:
    - host: "{{ .Values.ingress.host }}"
      http:
        paths:
          - path: /
            pathType: Prefix
            backend:
              service:
                name: chess-frontend
                port:
                  number: {{ .Values.frontend.service.port }}
